.c-red{
    color:red;
}

h1{
    font-size:170%
}

body{
    margin:10px 15px;
    padding:0;
}

a{
    color:rgb(63, 143, 97)
}

ul{
    list-style:none;
    padding-left:5px;
}

br{
    display:block;
    content:"";
    margin:10px 0;
}

.text-place{
    text-align:center;
}

.daimokuji{
    font-size:100%;
}

.syoumokuji{
    font-size:90%;
}

.space-width{
    margin:50px 0;
}

.space-normal{
    margin:20px 0;
}

.pagetop{
    position:fixed;
    bottom:16px;
    right:16px;
}

.pagetop a{
    display:block;
    text-decoration:none;
}

.pagetop:hover{
    opacity:0.85;
}

.PAGETOP{
    opacity:0.85;
}